html, body { 
	height: 100%
}

/*-----------Homepage----------*/

.transparent{
	background: rgba(0,0,0,0);
	border-style: none;
}

.shop-now{
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.shop-now a{
	outline:white solid;
	border-radius: 3px;
	color: white;
	border: none;
	margin: 0;
	background: rgba(0,0,0,0);
	font-family: 'Taviraj', serif;
}

.shop-now a:hover{
	background: #008080;
	outline: none;
	color: white;
}

.carousel,
.item,
.active {
    height: 100%;
}

.item img {
	width:100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*----------------------*/


/*----footer----------*/

.footer a{
	font-family: 'Taviraj', serif;
}

/*-------------*/


.navbar{
	border-radius: 0;
}

.navbar-brand{
	font-family: 'Satisfy', cursive;
}

.addShop{
	margin-top: 50px;
}

.shop_name{
	font-family: 'Taviraj', serif;
}

.navbar-fixed-bottom a{
	font-size: 0.8em;
}

.info{
	display: inline-block;
}

.shop_details{
	margin: 0 0 15px 0;
	text-align: center;
}

.shop_details p{
	font-size: 0.8em;
	font-family: 'Cinzel', serif;
	font-weight: bold;
}

.shop{
	font-family: 'Taviraj', serif;
}

.shop_details .address{
	padding-right: 5px;
}

.shop_details .contacts{
	border-left: thin solid black;
	padding-left: 5px;
}

.apparel_img{
	max-height: 300px;
	width: 100%;
}

.apparel .thumbnail{
	width : 100%;
    height: 400px;
    overflow: hidden;
}

.apparel h3{
	text-align: center;
	font-family: 'Cinzel', serif;
	font-weight: bold;
	font-size: 1em;
}

.apparel p{
	text-align: center;
	font-size: 0.8em;
	font-family: 'Average', serif;
	margin: 0px;
}

.apparel_details .thumbnail{
	border-style: none;
}

.thumbnail{
    width : 100%;
   	max-height: 600px;
    overflow: hidden;
}

.thumbnail .cover_image{
    width: 100%;
    max-height: 400px;
}

.shop_preview p{
	font-size: 0.9em;
	font-family: 'Average', serif;
}


