{% extends 'base.html' %}

{% block title %}Fanapton Shop Details{% endblock %}

{% block user %}
	{% if user %}{{ user.nickname() }}
	{% else %}no user{% endif %}
{% endblock %}

{% block navbar_form %}
	{% if user %}
		{% if user.email() == 'rIIdatibula@gmail.com' %}
			<form class="navbar-form navbar-left" method="POST" action="/shopDetails/{{ shop.key.urlsafe() }}/{{ apparel.key.urlsafe() }}/deleteApparel/">
				<button type="submit" class="btn btn-default">Remove Apparel</button>
			</form>
		{% endif %}
	{% endif %}
{% endblock %}

{% block nav %}
	{% if user %}
		{% if user.email() == 'rIIdatibula@gmail.com' %}
			<li>
				<a href="#">Edit Apparel</a>
			</li>
		{% endif %}
	{% endif %}
{% endblock %}

{% block url %}{{ url }}{% endblock %}

{% block url_linktext %}{{ url_linktext }}{% endblock %}

{% block cover %}
	<div class="cover-photo">
		<img src="{{ shop.cover_image }}">
	</div>

	<nav class="navbar navbar-default first-cover-nav">
		<div class="container">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="#" style="color: white;">{{ shop.name.upper() }}</a>
				</li>
			</ul>
		</div>
	</nav>

	<nav class="navbar navbar-default second-cover-nav">
		<div class="container">
			<div class="navbar-header profile-image">
				<a class="navbar-brand" href="#">
				<img alt="Brand" src="{{ shop.profile_image }}"></a>
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="/shopDetails/{{ shop.key.urlsafe() }}/" class="link" style="color:white">About</a>
				</li>
				<li>
					<a href="/shopDetails/{{ shop.key.urlsafe() }}/products/">Products</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block body %}

	<div class="col-md-8 col-md-offset-2">
		<div class="col-sm-4 col-md-4 col-md-offset-4 apparel apparel_details">
			{% if apparel %}
		    	<div class="thumbnail">
			      <img src="{{ apparel.image }}" alt="apparel_img" class="apparel_img"></a>
			      <div class="caption">
			      	<h3>{{ apparel.name.upper() }}</h3>
			      	<p>{{ apparel.description }}</p>
			      	<p>Php. {{ apparel.price }}.00</p>
			      </div>
		    	</div>
			{% endif %}
	  	</div>
	  	<!-- <div class="col-sm-4 col-md-4 col-md-offset-4 apparel">
	  		<p><a href="#" class="btn btn-default" role="button">Add to cart</a></p>
	  	</div> -->
  	</div>

{% endblock %}