<!DOCTYPE html>
<html>
<head>
	<title>{% block title%}Fanapton{% endblock %}</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/templates/static/style.css">

	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Average" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header nav_image">
				<a class="navbar-brand" href="/">
				<img alt="Brand" src="https://storage.googleapis.com/fanapton.appspot.com/fanapton_brand.png"></a>
			</div>
			<div class="collapse navbar-collapse">
				<form class="navbar-form navbar-left" role="search" method="POST" action="/searchShops">
					<div class="form-group">
						<input type="text" class="form-control" name="location" placeholder="Location" value="{{ location }}">					
					</div>
					<button type="submit" class="btn btn-default">Search Shop</button>
				</form>
				{% block navbar_form %}{% endblock %}
				
				<ul class="nav navbar-nav navbar-right">
					{% block nav %}{% endblock %}
					{% if user %}
					<li>
						<a href="#">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{ user.nickname() }}
						</a>
					</li>
					{% endif %}
					<li>
						<a href="{% block url %}{% endblock %}">{% block url_linktext %}{% endblock %}</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container" style="padding-top: 80px; padding-bottom: 70px;">
	{% block body %}
	{% endblock %}
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom footer">
		<div class="container">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="https://www.facebook.com/CisabethOfficial/">About Us</a>
				</li>
				<li>
					<a href="https://www.facebook.com/CisabethOfficial/">Contact Us</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#"><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;2017 Cisabeth</a>
				</li>
			</ul>
		</div>
	</nav>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>