{% extends 'base.html' %}

{% block title %}Fanapton{% endblock %}

{% block user %}
	{% if user %}{{ user.nickname() }}
	{% else %}no user{% endif %}
{% endblock %}

{% block url %}{{ url }}{% endblock %}

{% block url_linktext %}{{ url_linktext }}{% endblock %}

{% block body %}
	{% for shop in shops %}
		<div class="col-lg-6 col-lg-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left" style="padding-top: 7px">{{ shop.name }}</h3>
				<a href="#" class="btn btn-primary btn-sm pull-right">Enter Shop</a>
			</div>
			<div class="panel-body">
				<p>Shop Owner: {{ shop.owner }}</p>
				<p>Shop ID: {{ shop.key.id() }}</p>
				<p>Contacts:
					{% for contact in shop.contacts %}
						{{ contact }}
					{% endfor %}
				</p>
				<p>Address: 
					{% for address in shop.address %}
						{{ address }}
					{% endfor %}
				</p>
			</div>
		</div>
		</div>
	{% endfor %}

	{% if user %}
		<a href="/addShop" class="btn btn-primary btn-sm">Add Shop</a>
	{% endif %}
{% endblock %}