<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
</head>
<body>

	<div class="container">
		<!-- <form action="/profile" method="POST" name="theForm" id="theForm">
					</form>
 -->
		<input id="txtEmail" type="text" name="email">
		<input id="txtPassword" type="password" name="password">
		<button id="btnLogin">log in</button>

		
		<button id="btnSignup">sign up</button>
		<button id="btnLogout" hidden="true">log out</button>
		<button id="btnGoogleSignin">Sign in with google</button>
		<button id="btnFBSignin">Sign in with facebook</button>
	</div>

	<!-- <div>
		<a href="profile">Go to profile</a>
	</div> -->

	<script type="text/javascript" src="/Authentication/auth.js"></script>
</body>
</html>