{% extends 'base.html' %}

{% block title %}Fanapton{% endblock %}

{% block user %}
	{% if user %}{{ user.nickname() }}
	{% else %}no user{% endif %}
{% endblock %}

{% block url %}{{ url }}{% endblock %}

{% block url_linktext %}{{ url_linktext }}{% endblock %}

{% block body %}
	<!-- {% for shop in shops %}
		<div class="col-lg-6 col-lg-offset-3">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="panel-title pull-left" style="padding-top: 7px">{{ shop.name }}</h3>
				<form method="POST" action="/shopDetails/{{ shop.key.urlsafe() }}">
					<div class="pull-right">
						<button type="submit" class="btn btn-primary btn-sm">Enter Shop</button>
					</div>
				</form>
			</div>
			<div class="panel-body clearfix">
				<p class="pull-left">Shop Owner: {{ shop.owner }}</p>
				<p>Contacts:
					{% for contact in shop.contacts %}
						{{ contact }}
					{% endfor %}
				</p>
				<p>Address: 
					{% for address in shop.address %}
						{{ address }}
					{% endfor %}
				</p>
				<p><img src="{{ shop.image }}" alt="cover_image" class="cover_image pull-right"></p>
			</div>
		</div>
		</div>
		{% endfor %} -->

	<div class="row">
		{% for shop in shops %}
		   <div class="col-sm-6 col-md-4">
		    	<div class="thumbnail">
			      <img src="{{ shop.image }}" alt="cover_image">
			      <div class="caption">
						<h3 class="shop_name">{{ shop.name.upper() }}</h3>
						<p>
							{% for address in shop.address %}
								{{ address }}
							{% endfor %}
						</p>
						<p>
							<form method="POST" action="/shopDetails/{{ shop.key.urlsafe() }}">
								<button type="submit" class="btn btn-default btn-sm">Enter Shop</button>
							</form>
						</p>
			      </div>
		    	</div>
		  	</div>
	  	{% endfor %}
	</div>

	{% if user %}
		<a href="/addShop" class="btn btn-primary btn-sm">Add Shop</a>
	{% endif %}
{% endblock %}