{% extends 'base.html' %}

{% block title %}Fanapton Shop Details{% endblock %}

{% block user %}
	{% if user %}{{ user.nickname() }}
	{% else %}no user{% endif %}
{% endblock %}

{% block navbar_form %}
	{% if user %}
		{% if user.email() == 'rIIdatibula@gmail.com' %}
			<form class="navbar-form navbar-left" method="POST" action="/deleteShop/{{ shop.key.urlsafe() }}">
				<button type="submit" class="btn btn-default">Remove Shop</button>
			</form>
		{% endif %}
	{% endif %}
{% endblock %}

{% block nav %}
	{% if user %}
		{% if user.email() == 'rIIdatibula@gmail.com' %}
			<li>
				<a href="#">Edit Shop</a>
			</li>
		{% endif %}
	{% endif %}
{% endblock %}

{% block url %}{{ url }}{% endblock %}

{% block url_linktext %}{{ url_linktext }}{% endblock %}

{% block cover %}
	<div class="cover-photo">
		<img src="{{ shop.cover_image }}">
	</div>

	<nav class="navbar navbar-default first-cover-nav">
		<div class="container">
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="#" style="color: white;">{{ shop.name.upper() }}</a>
				</li>
			</ul>
		</div>
	</nav>

	<nav class="navbar navbar-default second-cover-nav">
		<div class="container">
			<div class="navbar-header profile-image">
				<a class="navbar-brand" href="#">
				<img alt="Brand" src="{{ shop.profile_image }}"></a>
			</div>
			<ul class="nav navbar-nav navbar-left">
				<li>
					<a href="/shopDetails/{{ shop.key.urlsafe() }}/" class="link" style="color:white">About</a>
				</li>
				<li>
					<a href="/shopDetails/{{ shop.key.urlsafe() }}/products/">Products</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock %}

{% block body %}
	
	<div class="col-lg-8 col-lg-offset-2">
		<div class="shop_details">
			<div class="info">
				<p class="address">
					{% for address in shop.address %}
						{{ address }}
					{% endfor %}
				</p>
			</div>
			<div class="info"> 
				<p class="contacts">
					{% for email in shop.emails %}
						{{ email }}
					{% endfor %}
				</p>
			</div>
			<div>
				<p>{{ shop.about }}</p>
			</div>
			<div>
				<p>{{ shop.overview }}</p>
			</div>
			{% if shop.websites %}
			<div>
				{% for website in shop.websites %}
					<p><i>{{ website }}</i></p>
				{% endfor %}
			</div>
			{% endif %}
		</div>
	</div>

{% endblock %}