{% extends 'base.html' %}

{% block title %}Fanapton Shop Details{% endblock %}

{% block user %}
	{% if user %}{{ user.nickname() }}
	{% else %}no user{% endif %}
{% endblock %}

{% block navbar_form %}
	{% if user %}
		{% if user.email() == 'rIIdatibula@gmail.com' %}
			<form class="navbar-form navbar-left" method="POST" action="/deleteShop/{{ shop.key.urlsafe() }}">
				<button type="submit" class="btn btn-default">Remove</button>
			</form>
		{% endif %}
	{% endif %}
{% endblock %}

{% block nav %}
	{% if user %}
		{% if user.email() == 'rIIdatibula@gmail.com' %}
			<li>
				<a href="/addApparel/{{ shop.key.urlsafe() }}">Add Apparel</a>
			</li>
			<li>
				<a href="#">Edit Shop</a>
			</li>
		{% endif %}
		<li>
			<a href="/myCart/{{ user.user_id() }}/"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;My Cart</a>
		</li>
	{% endif %}
{% endblock %}

{% block url %}{{ url }}{% endblock %}

{% block url_linktext %}{{ url_linktext }}{% endblock %}

{% block body %}	
	
	<div style="text-align: center;">
		<h2 class="shop"><strong>{{ shop.name.upper() }}</strong></h2>
	</div>
	
	<div class="shop_details">
		<div class="info">
			<p class="address">
				{% for address in shop.address %}
					{{ address }}
				{% endfor %}
			</p>
		</div>
		<div class="info"> 
			<p class="contacts">
				{% for email in shop.emails %}
					{{ email }}
				{% endfor %}
			</p>
		</div>
	</div>

	<div class="col-lg-8 col-lg-offset-2">
		{% if shop.apparels %}
			{% for apparel in shop.apparels %}
				<div class="col-sm-4 col-md-4 apparel">
			    	<div class="thumbnail">
				      <a href="/shopDetails/{{ shop.key.urlsafe() }}/{{ apparel.parsed_name }}/">
				      <img src="{{ apparel.image }}" alt="apparel_img" class="apparel_img"></a>
				      <div class="caption">
				      	<h3>{{ apparel.name.upper() }}</h3>
				      	<p>{{ apparel.description }}</p>
				      	<p>Php. {{ apparel.price }}.00</p>
				      </div>
			    	</div>
			  	</div>
			{% endfor %}
		{% else %}
			<p style="text-align: center"><i>No apparels yet</i></p>
		{% endif %}
	</div>

{% endblock %}