{% extends 'base.html' %}

{% block title %}Fanapton Shop Details{% endblock %}

{% block user %}
	{% if user %}{{ user.nickname() }}
	{% else %}no user{% endif %}
{% endblock %}

{% block url %}{{ url }}{% endblock %}

{% block url_linktext %}{{ url_linktext }}{% endblock %}

{% block body %}

	{% if user.email() == 'rIIdatibula@gmail.com' %}
		<form method="POST" action="/deleteShop/{{ shop.key.urlsafe() }}">
			<div class="pull-right">
				<button type="submit" class="btn btn-default btn-sm">Remove</button>
			</div>
		</form>
		<form method="POST" action="#">
			<div class="pull-right">
				<button type="submit" class="btn btn-default btn-sm">Edit Shop</button>
			</div>
		</form>
		<div class="pull-right">
			<a href="/addApparel/{{ shop.key.urlsafe() }}" class="btn btn-default btn-sm">Add Apparel</a>
		</div>
	{% endif %}

	<div class="col-lg-6 col-lg-offset-3">
		<div class="well clearfix">
			<div class="pull-right">
				<p>Shop Name: {{ shop.name.upper() }}</p>
				<p>Owner: {{ shop.owner}}</p>
				<p>Contacts:
					{% for contact in shop.contacts %}
						{{ contact }}
					{% endfor %}
				</p>
				<p>Address:
					{% for address in shop.address %}
						{{ address }}
					{% endfor %}
				</p>
			</div>
			<p><img src="{{ shop.image }}" class="cover_image pull-left"></p>
		</div>

		<h3 style="text-align: center;">Apparels</h3>
		{% if shop.apparels %}
			{% for apparel in shop.apparels %}
				<div class="col-sm-5 col-md-3">
			    	<div class="thumbnail">
				      <img src="{{ apparel.image }}" alt="apparel_img">
				      <div class="caption">
				      	<h3>{{ apparel.name}}</h3>
				      	<p>Php. {{ apparel.price }}.00</p>
				      </div>
			    	</div>
			  	</div>
			{% endfor %}
		{% else %}
			<p>No apparels yet</p>
		{% endif %}
	</div>

{% endblock %}