{% extends 'base.html' %}

{% block title %}Fanapton Add Shop{% endblock %}

{% block user %}
	{% if user %}{{ user.nickname() }}
	{% else %}no user{% endif %}
{% endblock %}

{% block url %}{{ url }}{% endblock %}

{% block url_linktext %}{{ url_linktext }}{% endblock %}

{% block body %}

	<div class="panel panel-default col-sm-4 col-md-4 col-lg-4 col-lg-offset-4 addShop">
  	<div class="panel-body ">
		<h4 style="text-align: center;">Add Shop</h4>
			<form class="form-horizontal" action="addShop" method="POST">
				<div class="form-group">
					<input type="text" name="owner" class="form-control" placeholder="Owner" required>
			   </div>
			   <div class="form-group">
					<input type="text" name="name" class="form-control" placeholder="Shop Name" required>
			   </div>
			  	<div class="form-group">
					<input type="text" name="contact" class="form-control" placeholder="Contact" required>
			   </div>
			   <div class="form-group">
					<input type="text" name="address" class="form-control" placeholder="Complete Adress" required>
			   </div>
				<div class="form-group">
					<button type="submit" class="btn btn-success col-lg-offset-6"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Create</button>
					<a href="/" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Cancel</a>
				</div>
			</form>
  	</div>
	</div>

{% endblock %}